.container {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 80px;
  color: #f9faf8;
}

.hero {
  display: flex;
  align-items: flex-start;
  margin-top: 92px;
  gap: 50px;
  min-width: 0px;
}

.image img {
  width: 400px;
  padding: 20px 80px 100px 0;
}

.text {
  min-width: 300px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: #f9faf8;

  align-self: flex-start;
  background-color: #3882f6;
  border: none;
  padding: 0;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-sec {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.info {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.info img {
  border: 5px solid #555;
  border-color: rgb(78, 78, 170);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.info-header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

p {
  flex: 1;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  width: 130px;
}
