.container {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  background-color: #1f2937;
  color: #f9faf8;
}

.hero {
  display: flex;
  align-items: center;
  min-width: 0px;
}

img {
  width: 400px;
  padding: 50px;
}

.text {
  /* flex-basis: 1; */
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 48px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: #f9faf8;

  align-self: flex-start;
  background-color: #3882f6;
  border: none;
  padding: 0;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-sec {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
